!!!
%html
  %head
    %title ImagineDemo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  - flash.each do |key, message|
    %div{ :class => "flash #{key}" }= message
  %h2 Imagine
  %h3 A Rails Engine to provide drop in image gallery support
  %h4 (with lots of pluggable album types provided by gem extensions)

  - if on_album_show?
    %ul
    - links_to_plugins.each do |pl|
      %li= pl
  = yield
