!!!
%html
  %head
    %title ImagineDemo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  .topbar
    .fill
      .container
        %a.brand{ :href => '/' } Imagine
        %ul.nav
          %li= link_to("Documentation", "/pages/documentation")
          %li= link_to("Source Code", "http://github.com/knewter/imagine")
          %li= link_to("Report a Bug / Request a Feature", "http://github.com/knewter/imagine/issues")
          %li= link_to("Built by Isotope11", "http://www.isotope11.com")
          %li= link_to(image_tag("http://travis-ci.org/knewter/imagine.png"), "http://travis-ci.org/knewter/imagine")
  .container
    - flash.each do |key, message|
      %div{ :class => "alert-message #{key}" }= message

    - if on_album_show?
      %ul.pills
        - links_to_plugins.each do |pl|
          - klass = ''
          - if !params[:plugin] && pl[0].to_s == Imagine.default_plugin.to_s
            - klass = 'active'
          - elsif params[:plugin].to_s == pl[0].to_s
            - klass = 'active'
          %li{ :class => klass }= pl[1]
    = yield
